.main{
    padding-top: 50px;
    padding-bottom: 80px;
    background-color: #f7f8fa;
}

.main-body{
    width: 900px;
    margin: 0 auto;
}
.main li{
    margin-top: 35px;
    list-style: none;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
    background-color: #fff; /* 设置背景颜色 */
    border-radius: 8px; /* 设置圆角 */
    padding: 32px; /* 设置内边距 */
    transition: transform 0.3s ease-in-out; /* 添加鼠标悬停时的变换效果 */
}
.date{
    font-size: 17px;
    margin-bottom: 12px;
}
.main p{
    font-size: 15px;
    color: #222;
}
@media (max-width: 940px) {
    .main{
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #f7f8fa;
    }
    .main-body{
        width: 85%;
        margin: 0 auto;
    }
    .main li{
        margin-top: 35px;
        list-style: none;
    }
    .date{
        font-size: 17px;
        margin-bottom: 12px;
    }
    .main p{
        font-size: 15px;
        color: #222;
    }
}
@media (max-width: 540px) {
    .main{
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #f7f8fa;
    }
    .main-body{
        width: 75%;
        margin: 0 auto;
    }
    .main li{
        margin-top: 35px;
        list-style: none;
    }
    .date{
        font-size: 17px;
        margin-bottom: 12px;
    }
    .main p{
        font-size: 15px;
        color: #222;
    }
}
